/*Dropdown buttons and shadow*/
a.dropdown-item:hover {
    color: #fff;
    background-color: #4285F4;
    box-shadow:0px 0px 0px 10px rgba(0,0,0,.5)
}
#main{
       margin-top:8%;}
 #footer{
       margin-left:10%;
       }
 main {
      padding-top: 3rem;
      padding-bottom: 2rem;
            }

            .widget-wrapper {
                padding-bottom: 2rem;
                border-bottom: 1px solid #e0e0e0;
                margin-bottom: 2rem;
            }

            .reviews {
                text-align: center;
                border-top: 1px solid #e0e0e0;
                border-bottom: 1px solid #e0e0e0;
                padding: 1rem;
                margin-top: 1rem;
                margin-bottom: 2rem;
            }

            .price {
                position: absolute;
                left: 0;
                top: 0;
                margin-top: -2px;
            }

            .price .tag {
                margin: 0;
            }
            .navbar {
                background-color: #676b74;
            }

            footer.page-footer {
                background-color: #676b74;
                margin-top: 2rem;
            }