/* YOUR CUSTOM STYLES */
/* YOUR CUSTOM STYLES */
/* TEMPLATE STYLES */
/* Necessary for full page carousel*/
html,body {
    height: 100%;
    overflow y: hidden
}
/* Navigation*/
/*Dropdown buttons and shadow*/

.loaderImage {
    left: 45%;
    top: 90%;
    display: none;
    position: fixed;
    z-index: 101;
}

a.dropdown-item:hover {
    color: #fff;
    /*background-color: #4285F4;*/
    background-color: #304a74;
    box-shadow:0px 3px 20px rgba(0,0,0,.5) !important;
}

a.list-group-item:hover {
    color: #fff;
    /*background-color: #4285F4;*/
    background-color: #304a74;
    box-shadow:0px 3px 20px rgba(0,0,0,.5) !important;
}
/*remove the padding from profile picture*/
#profile_pic {
    padding: 0 0 0 0;
}
.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #304a74;
}

footer.page-footer {
    background-color: #304a74;
    width:100%
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}
/* Carousel*/

.carousel {
    height: 60%;
}

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/*Caption*/

.flex-center {
    color: #fff;
}
#forms{

    margin-left:18%;

}

@media (max-width: 776px){
    #forms{
        margin-left:0px;
    }
}
#paralax {
    margin-top: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('img/rock.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}
img {
    display: block;
    max-width: 100%;
   /* height: auto; */
}

/*Back to top Button*/
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;

    background: rgba(48, 74, 115, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.cd-top:hover {

    background-color: #304a73;
    opacity: 1;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}
